<div id="dlgVisualizar" class="easyui-dialog" data-options="modal:true,closed:true"
     style="width: 50%; height: 90%; padding: 10px 20px; line-height: 20px;">

    <div class="easyui-layout" data-options="fit:true">
        <form id="frmVisualizar" method="post">
            <div data-options="region:'center'" style="padding:10px;">
                <br />
                <hr style="color: #B5B5B5; width:96%" />
                <div class="panelGridModal">
                    <div class="rowGridModal">
                        <label class="colGridModal">Codigo</label>
                        <input class="easyui-textbox" id="codigo" name="codigo" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Nombre</label>
                        <input class="easyui-textbox" id="nombre" name="nombre" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Apellido Paterno</label>
                        <input class="easyui-textbox" id="apellidoPaterno" name="apellidoPaterno" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Apellido Materno</label>
                        <input class="easyui-textbox" id="apellidoMaterno" name="apellidoMaterno" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Fecha Nacimiento</label>
                        <input class="easyui-textbox" id="fechaNacimiento" name="fechaNacimiento" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Corporación</label>
                        <input class="easyui-textbox" id="corporacion" name="corporacion" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Tipo Documento</label>
                        <input class="easyui-textbox" id="tipoDocumento" name="tipoDocumento" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Número Documento</label>
                        <input class="easyui-textbox" id="numeroDocumento" name="numeroDocumento" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Estado Civil</label>
                        <input class="easyui-textbox" id="estadoCivil" name="estadoCivil" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Genero Persona</label>
                        <input class="easyui-textbox" id="sexo" name="sexo" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Es Vendedor</label><br />
                        <input class="easyui-switchbutton" id="esVendedor" name="esVendedor" data-options="onText:'Si',offText:'No'" disabled>
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Fecha Registra</label>
                        <input class="easyui-textbox" id="fechaRegistra" name="fechaRegistra" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Fecha Modifica</label>
                        <input class="easyui-textbox" id="fechaModifica" name="fechaModifica" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Usuario Registra</label>
                        <input class="easyui-textbox" id="usuarioRegistra" name="usuarioRegistra" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Usuario Modifica</label>
                        <input class="easyui-textbox" id="usuarioModifica" name="usuarioModifica" style="width:100%" readonly />
                    </div>
                    <div class="rowBoth" />
                </div>
                <br />
                <hr style="color: #B5B5B5; width:96%" />

            </div>
        </form>
    </div>
</div>
