@model SIGEES.Web.Models.Bean.BeanItemTipoAcceso

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="width: 99%; background-color: #D3EBDE; vertical-align: middle; padding-top: 2%; padding-bottom: 2%; padding-left: 1%">
    <center>
        <h2>Configuración de Planilla</h2>
    </center>
    <div style="width: 100%">
        @if (Model.estadoLectura != null && Model.estadoLectura.CompareTo("A") == 0)
        {
            <a href="javascript:fnBuscarRegla()" id="btnBuscar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-search'">Buscar</a>
        }
        @if (Model.estadoEscritura != null && Model.estadoEscritura.CompareTo("A") == 0)
        {
            <a href="javascript:fnNuevoReglaTipoPlanilla();" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-add'">Crear</a>
        }
        @if (Model.estadoModificacion != null && Model.estadoModificacion.CompareTo("A") == 0)
        {
            <a href="javascript:fnModificarReglaTipoPlanilla()" id="btnModificar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-edit'">Modificar</a>
        }
        @if (Model.estadoEliminacion != null && Model.estadoEliminacion.CompareTo("A") == 0)
        {
            <a href="javascript:Eliminar();" id="btnEliminar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px;" data-options="disabled:true,iconCls:'icon-cancel'">Desactivar</a>
        }

    </div>
</div>
<br />
<div style="width: 99%; padding-left: 1%">
    <table id="dgv_lista_regla" style="width: 100%;height:450px"></table>
</div>


<div id="div_registrar_regla" class="easyui-dialog" data-options="resizable:true,modal:true,closed:true"
     style="width: 70%; height: 65%;"></div>


<script type="text/javascript" src="~/Areas/Comision/Scripts/Views/ReglaTipoPlanilla/regla_tipo_planilla.index.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var actionUrls =
        {
            _GetAllJson: '@Url.Action("GetAllJson", "ReglaTipoPlanilla", new { area = "comision" })',
            _NuevaRegla: '@Url.Action("_Nuevo", "ReglaTipoPlanilla", new { area = "Comision" })',
            _Eliminar:'@Url.Action("Eliminar", "ReglaTipoPlanilla", new { area = "Comision" })'

        };
        project.regla_tipo_planilla_index.Initialize(actionUrls);

    });
</script>
