<div id="dlgModificar" class="easyui-dialog" data-options="modal:true,closed:true"
     style="width: 50%; height: 90%; padding: 10px 20px; line-height: 20px;">

    <div class="easyui-layout" data-options="fit:true">
        <form id="frmModificar" method="post">
            <div data-options="region:'center'" style="padding:10px;">
                <br />
                <hr style="color: #B5B5B5; width:96%" />
                <div class="panelGridModal">
                    <div class="rowGridModal">
                        <label class="colGridModal">Codigo</label>
                        <input class="easyui-textbox" id="codigo" name="codigo" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Nombre</label>
                        <input class="easyui-textbox" id="nombre" name="nombre" style="width:100%" />
                    </div>
                    <div class="rowGridModalDouble">
                        <label class="colGridModal">Lista Menu</label>
                        <ul id="treeMenu" class="easyui-tree" style="width: 100%"></ul>
                    </div>
                    <div class="rowGridModalDouble">
                        <label class="colGridModal">Lista Tipo Acceso</label>
                        <table id="dataGridTipoAccesoItem" style="width: 100%"></table>
                    </div>
                    <div class="rowBoth" />
                </div>
                <br />
                <hr style="color: #B5B5B5; width:96%" />

            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a href="#" class="easyui-linkbutton" style="padding: 0px 10px 0px 10px; " iconcls="icon-ok" id="btnGuardar">Guardar</a>
                <a href="#" class="easyui-linkbutton" style="padding: 0px 10px 0px 10px; " iconcls="icon-cancel" id="btnCancelar">Cancelar</a>
            </div>
        </form>
    </div>
</div>
