<div id="dlgVisualizar" class="easyui-dialog" data-options="modal:true,closed:true"
     style="width: 50%; height: 90%; padding: 10px 20px; line-height: 20px;">

    <div class="easyui-layout" data-options="fit:true">
        <form id="frmVisualizar" method="post">
            <div data-options="region:'center'" style="padding:10px;">
                <br />
                <hr style="color: #B5B5B5; width:96%" />
                <div class="panelGridModal">
                    <div class="rowGridModal">
                        <label class="colGridModal">Codigo</label>
                        <input class="easyui-textbox" id="codigo" name="codigo" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Nombre</label>
                        <input class="easyui-textbox" id="nombre" name="nombre" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Simbolo</label>
                        <input class="easyui-textbox" id="simbolo" name="simbolo" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Fecha Registra</label>
                        <input class="easyui-textbox" id="fechaRegistra" name="fechaRegistra" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Fecha Modifica</label>
                        <input class="easyui-textbox" id="fechaModifica" name="fechaModifica" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Usuario Registra</label>
                        <input class="easyui-textbox" id="usuarioRegistra" name="usuarioRegistra" style="width:100%" readonly />
                    </div>
                    <div class="rowGridModal">
                        <label class="colGridModal">Usuario Modifica</label>
                        <input class="easyui-textbox" id="usuarioModifica" name="usuarioModifica" style="width:100%" readonly />
                    </div>
                    <div class="rowBoth" />
                </div>
                <br />
                <hr style="color: #B5B5B5; width:96%" />

            </div>
        </form>
    </div>
</div>
