@model SIGEES.Web.Models.Bean.BeanItemTipoAcceso

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="width: 99%; background-color: #D3EBDE; vertical-align: middle; padding-top: 1%; padding-bottom: 2%; padding-left: 1%">
    <center>
        <h2>Planilla de Bono</h2>
    </center>

    <div id="toolbar_planilla_opcion">
        @if (Model.estadoLectura != null && Model.estadoLectura.CompareTo("A") == 0)
        {
            <a href="javascript:fnConsultarPlanilla()" id="btnBuscar" class="easyui-linkbutton" style="padding:2px 15px 2px 15px; " data-options="iconCls:'icon-search'">Buscar</a>
            <a href="javascript:fnModificarPlanilla()" id="btnRevisar" class="easyui-linkbutton" style="padding: 2px 15px 2px 15px; " data-options="iconCls:'icon-detail'">Revisar</a>
        }
    </div>
</div>
<br />
<div style="width: 99%; padding-left: 1%">
    @if (Model.estadoLectura != null && Model.estadoLectura.CompareTo("A") == 0)
    {
        <table id="dgv_planilla" style="width: 100%"></table>
    }
</div>

<div id="div_registrar_planilla" class="easyui-dialog" data-options="resizable:true,modal:true,closed:true,maximizable:true"
     style="width: 70%; height: 100%;line-height: 15px;"></div>

@section scripts
{
    <script type="text/javascript" src="~/Areas/Comision/Scripts/Views/PlanillaBono/planilla.index.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var actionUrls =
        {
            _Buscar: '@Url.Action("_Buscar", "ConsultaPlanillaBono", new { area = "Comision" })',
            _Planilla: '@Url.Action("_Planilla", "ConsultaPlanillaBono", new { area ="Comision" })',
        };
        project.index.Initialize(actionUrls);
    });
    </script>
}