<script type="text/javascript">
    var tipoTra = null;
    $(document).ready(function () {

        $('.content').ResizeModal({
            widthMax: '90%',
            widthMin: '60%',
            div: 'div_reporte_planilla'
        });
        CargarReporte();
    });


    function CargarReporte() {
        var item = {
            codigo_planilla: ActionPlanillaUrl._codigo_planilla
        };


        $.ajax({
            url: '@Url.Action("ReporteLiquidacion", "Planilla", new { area = string.Empty })',
            type: 'POST',
            dataType: 'json',
            data: item,
            success: function (result) {
                $("#Frame_div_reporte_liqudacion").html(result.vUrl);
            },
            error: function (e) {
                console.log(e)
            }
        });

    }

</script>


<div id="Frame_div_reporte_liqudacion" style="width:100%;">

</div>

