<div id="dlgModificar" class="easyui-dialog" data-options="modal:true,closed:true"
     style="width: 50%; height: 90%; padding: 10px 20px; line-height: 20px;">

    <div class="easyui-layout" data-options="fit:true">
        <form id="frmModificar" method="post">
            <div data-options="region:'center'" style="padding:10px;">
                <br />
                @*<hr style="color: #B5B5B5; width:96%" />*@
                <div class="easyui-panel" title="Datos Generales" style="width: 99%; ">

                    <div class="rowGridModal">
                        <table style="width:100%">
                            <tr>
                                <td style="width: 40%">
                                    <label class="colGridModal">Nombre</label>
                                </td>
                                <td style="width: 60%">
                                    <input class="easyui-textbox" id="nombre" name="nombre" style="width:100%" data-options="required:true" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <br />
                @*<hr style="color: #B5B5B5; width:96%" />*@

            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a href="#" class="easyui-linkbutton" iconcls="icon-ok" id="btnGuardar">Guardar</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" id="btnCancelar">Cancelar</a>
            </div>
        </form>
    </div>
</div>
