<div id="dlgBusquedaPersona" class="easyui-dialog" data-options="modal:true,closed:true"
     style="width: 60%; height: 80%; line-height: 20px;">

    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" style="padding:10px;">
            <table id="dgPersonas" style="width: 100%;height:100%"></table>
        </div>
        <div data-options="region:'south'" style="padding:10px;">
            <div style="height:100%">
                <label class="colGridModal" style="color:#f56363;">(*) Para seleccionar un vendedor haga doble click sobre el registro.</label>
            </div>
        </div>
    </div>
</div>
