<div id="dlgDetalle" class="easyui-dialog" data-options="modal:true,closed:true"
     style="width: 65%; height: 600px; padding:5px; line-height: 10px; ">

    <div class="easyui-layout" style="width:99%; height:100%" data-options="fit:true">
        <div data-options="region:'center',border:false">
            <div class="panelGridModal">
                <div class="easyui-panel" title="Reclamo" style="width: 100%;">
                    <table style="width:100%; padding:5px;" border="0">
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Vendedor</label>
                            </td>
                            <td class="tdValor3" colspan="3">
                                <input class="easyui-textbox" id="PersonalVentas" name="PersonalVentas" style="width: 100%" data-options="required:true,disabled:true" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Empresa</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="nombre_empresa_v" name="nombre_empresa_v" style="width: 85%" data-options="required:true,disabled:true" readonly />
                            </td>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Contrato</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="NroContrato" name="NroContrato" style="width: 140px" data-options="required:true,disabled:true" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Articulo</label>
                            </td>
                            <td class="tdValor3" colspan="3">
                                <input class="easyui-textbox" id="Articulo_1" name="Articulo_1" style="width: 100%" data-options="required:true,disabled:true" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Cuota</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-numberbox" id="Cuota_1" name="Cuota_1" style="width: 140px" data-options="required:true,disabled:true" />
                            </td>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Importe</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-numberbox" id="Importe_1" name="Importe_1" style="width: 140px" data-options="required:true,disabled:true, min:0,max:9999999.99,precision:2" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Error Contrato</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="es_contrato_migrado" name="es_contrato_migrado" style="width:140px" data-options="disabled:true" readonly />
                            </td>
                            <td class="tdEtiqueta" colspan="2">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Observación</label>
                            </td>
                            <td class="tdValor3" colspan="3">
                                <input class="easyui-textbox" id="Observacion_1" name="Observacion_1" style="width: 100%; height: 40px;" data-options="multiline:true" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Usuario</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="UsuarioReg" name="UsuarioReg" style="width: 85%; " data-options="disabled:true" />
                            </td>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Fecha</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="FechaReg" name="FechaReg" style="width: 140px" data-options="disabled:true" readonly />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="tabAtencion" class="easyui-tabs" style="height:240px;width:100%" >
                <div title="Atención Administrativo">
                    <div class="easyui-panel" title="Datos" style="width: 100%;" data-options="border:false">
                        <table style="width:100%; padding:5px;" border="0">
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Cuota</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-numberbox" id="Cuota_2" name="Cuota_2" style="width: 140px" data-options="required:true,disabled:true" readonly />
                            </td>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Importe</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-numberbox" id="Importe_2" name="Importe_2" style="width: 140px" data-options="required:true,disabled:true, min:0,max:9999999.99,precision:2" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Estado</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="nombre_estado_reclamo_v" name="nombre_estado_reclamo_v" style="width: 140px" data-options="required:true,disabled:true" readonly />
                            </td>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Resultado</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="nombre_estado_resultado_n2_v" name="nombre_estado_resultado_n2_v" style="width: 140px" data-options="required:true,disabled:true" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Nro Planilla</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="NroPlanilla" name="NroPlanilla" style="width: 140px" data-options="disabled:true" />
                            </td>
                            <td class="tdEtiqueta"></td>
                            <td class="tdValor"></td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Respuesta</label>
                            </td>
                            <td class="tdValor3" colspan="3">
                                <input class="easyui-textbox" id="observacion_n2_v" name="observacion_n2_v" style="width: 100%; height: 40px; " data-options="multiline:true," readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Usuario</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="usuario_n2_v" name="usuario_n2_v" style="width: 85%; " data-options="disabled:true" />
                            </td>
                            <td class="tdEtiqueta">
                                <label class="colGridModal">Fecha</label>
                            </td>
                            <td class="tdValor">
                                <input class="easyui-textbox" id="fecha_n2_v" name="fecha_n2_v" style="width: 140px" data-options="disabled:true" readonly />
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div title="Atención Comercial">
                    <div class="easyui-panel" title="Datos" style="width: 100%;" data-options="border:false">
                        <table style="width:100%; padding:5px;" border="0">
                            <tr>
                                <td class="tdEtiqueta">
                                    <label class="colGridModal">Resultado</label>
                                </td>
                                <td class="tdValor">
                                    <input class="easyui-textbox" id="nombre_estado_resultado_n1_v" name="nombre_estado_resultado_n1_v" style="width: 140px" data-options="required:true,disabled:true" readonly />
                                </td>
                                <td class="tdEtiqueta"></td>
                                <td class="tdValor"></td>
                            </tr>
                            <tr>
                                <td class="tdEtiqueta">
                                    <label class="colGridModal">Respuesta</label>
                                </td>
                                <td class="tdValor3" colspan="3">
                                    <input class="easyui-textbox" id="observacion_n1_v" name="observacion_n1_v" style="width: 100%; height: 40px;" data-options="multiline:true" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td class="tdEtiqueta">
                                    <label class="colGridModal">Usuario</label>
                                </td>
                                <td class="tdValor">
                                    <input class="easyui-textbox" id="usuario_n1_v" name="usuario_n1_v" style="width: 85%; " data-options="disabled:true" />
                                </td>
                                <td class="tdEtiqueta">
                                    <label class="colGridModal">Fecha</label>
                                </td>
                                <td class="tdValor">
                                    <input class="easyui-textbox" id="fecha_n1_v" name="fecha_n1_v" style="width: 140px" data-options="disabled:true" readonly />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        <div data-options="region:'south',border:false" style="text-align:right;padding:5px;">
            <div style="height:100%;width:100%">
                <a href="#" class="easyui-linkbutton" style="padding: 0px 10px 0px 10px; " iconcls="icon-cancel" id="btnCerrar">Cerrar</a>
            </div>
        </div>

    </div>

</div>
<style>
    .tdEtiqueta {
        width: 15%;
        padding: 5px;
    }
    .tdValor {
        width: 35%;
    }
    .tdValor3 {
        width: 85%;
    }
</style>
