.row-form-24 {
  width: 100%;
  *zoom: 1; }
  .row-form-24:before, .row-form-24:after {
    display: table;
    content: "";
    line-height: 0; }
  .row-form-24:after {
    clear: both; }
  .row-form-24 > [class*="span"] {
    display: block;
    width: 100%;
    min-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
    *margin-left: 2.07447%; }
  .row-form-24 > [class*="span"]:first-child {
    margin-left: 0; }
  .row-form-24 .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.12766%; }
  .row-form-24 > .span24 {
    width: 100%;
    *width: 99.94681%; }
  .row-form-24 > .span23 {
    width: 95.74468%;
    *width: 95.69149%; }
  .row-form-24 > .span22 {
    width: 91.48936%;
    *width: 91.43617%; }
  .row-form-24 > .span21 {
    width: 87.23404%;
    *width: 87.18085%; }
  .row-form-24 > .span20 {
    width: 82.97872%;
    *width: 82.92553%; }
  .row-form-24 > .span19 {
    width: 78.7234%;
    *width: 78.67021%; }
  .row-form-24 > .span18 {
    width: 74.46809%;
    *width: 74.41489%; }
  .row-form-24 > .span17 {
    width: 70.21277%;
    *width: 70.15957%; }
  .row-form-24 > .span16 {
    width: 65.95745%;
    *width: 65.90426%; }
  .row-form-24 > .span15 {
    width: 61.70213%;
    *width: 61.64894%; }
  .row-form-24 > .span14 {
    width: 57.44681%;
    *width: 57.39362%; }
  .row-form-24 > .span13 {
    width: 53.19149%;
    *width: 53.1383%; }
  .row-form-24 > .span12 {
    width: 48.93617%;
    *width: 48.88298%; }
  .row-form-24 > .span11 {
    width: 44.68085%;
    *width: 44.62766%; }
  .row-form-24 > .span10 {
    width: 40.42553%;
    *width: 40.37234%; }
  .row-form-24 > .span9 {
    width: 36.17021%;
    *width: 36.11702%; }
  .row-form-24 > .span8 {
    width: 31.91489%;
    *width: 31.8617%; }
  .row-form-24 > .span7 {
    width: 27.65957%;
    *width: 27.60638%; }
  .row-form-24 > .span6 {
    width: 23.40426%;
    *width: 23.35106%; }
  .row-form-24 > .span5 {
    width: 19.14894%;
    *width: 19.09574%; }
  .row-form-24 > .span4 {
    width: 14.89362%;
    *width: 14.84043%; }
  .row-form-24 > .span3 {
    width: 10.6383%;
    *width: 10.58511%; }
  .row-form-24 > .span2 {
    width: 6.38298%;
    *width: 6.32979%; }
  .row-form-24 > .span1 {
    width: 2.12766%;
    *width: 2.07447%; }
  .row-form-24 > .offset24 {
    margin-left: 104.25532%;
    *margin-left: 104.14894%; }
  .row-form-24 > .offset24:first-child {
    margin-left: 102.12766%;
    *margin-left: 102.02128%; }
  .row-form-24 > .offset23 {
    margin-left: 100%;
    *margin-left: 99.89362%; }
  .row-form-24 > .offset23:first-child {
    margin-left: 97.87234%;
    *margin-left: 97.76596%; }
  .row-form-24 > .offset22 {
    margin-left: 95.74468%;
    *margin-left: 95.6383%; }
  .row-form-24 > .offset22:first-child {
    margin-left: 93.61702%;
    *margin-left: 93.51064%; }
  .row-form-24 > .offset21 {
    margin-left: 91.48936%;
    *margin-left: 91.38298%; }
  .row-form-24 > .offset21:first-child {
    margin-left: 89.3617%;
    *margin-left: 89.25532%; }
  .row-form-24 > .offset20 {
    margin-left: 87.23404%;
    *margin-left: 87.12766%; }
  .row-form-24 > .offset20:first-child {
    margin-left: 85.10638%;
    *margin-left: 85.0%; }
  .row-form-24 > .offset19 {
    margin-left: 82.97872%;
    *margin-left: 82.87234%; }
  .row-form-24 > .offset19:first-child {
    margin-left: 80.85106%;
    *margin-left: 80.74468%; }
  .row-form-24 > .offset18 {
    margin-left: 78.7234%;
    *margin-left: 78.61702%; }
  .row-form-24 > .offset18:first-child {
    margin-left: 76.59574%;
    *margin-left: 76.48936%; }
  .row-form-24 > .offset17 {
    margin-left: 74.46809%;
    *margin-left: 74.3617%; }
  .row-form-24 > .offset17:first-child {
    margin-left: 72.34043%;
    *margin-left: 72.23404%; }
  .row-form-24 > .offset16 {
    margin-left: 70.21277%;
    *margin-left: 70.10638%; }
  .row-form-24 > .offset16:first-child {
    margin-left: 68.08511%;
    *margin-left: 67.97872%; }
  .row-form-24 > .offset15 {
    margin-left: 65.95745%;
    *margin-left: 65.85106%; }
  .row-form-24 > .offset15:first-child {
    margin-left: 63.82979%;
    *margin-left: 63.7234%; }
  .row-form-24 > .offset14 {
    margin-left: 61.70213%;
    *margin-left: 61.59574%; }
  .row-form-24 > .offset14:first-child {
    margin-left: 59.57447%;
    *margin-left: 59.46809%; }
  .row-form-24 > .offset13 {
    margin-left: 57.44681%;
    *margin-left: 57.34043%; }
  .row-form-24 > .offset13:first-child {
    margin-left: 55.31915%;
    *margin-left: 55.21277%; }
  .row-form-24 > .offset12 {
    margin-left: 53.19149%;
    *margin-left: 53.08511%; }
  .row-form-24 > .offset12:first-child {
    margin-left: 51.06383%;
    *margin-left: 50.95745%; }
  .row-form-24 > .offset11 {
    margin-left: 48.93617%;
    *margin-left: 48.82979%; }
  .row-form-24 > .offset11:first-child {
    margin-left: 46.80851%;
    *margin-left: 46.70213%; }
  .row-form-24 > .offset10 {
    margin-left: 44.68085%;
    *margin-left: 44.57447%; }
  .row-form-24 > .offset10:first-child {
    margin-left: 42.55319%;
    *margin-left: 42.44681%; }
  .row-form-24 > .offset9 {
    margin-left: 40.42553%;
    *margin-left: 40.31915%; }
  .row-form-24 > .offset9:first-child {
    margin-left: 38.29787%;
    *margin-left: 38.19149%; }
  .row-form-24 > .offset8 {
    margin-left: 36.17021%;
    *margin-left: 36.06383%; }
  .row-form-24 > .offset8:first-child {
    margin-left: 34.04255%;
    *margin-left: 33.93617%; }
  .row-form-24 > .offset7 {
    margin-left: 31.91489%;
    *margin-left: 31.80851%; }
  .row-form-24 > .offset7:first-child {
    margin-left: 29.78723%;
    *margin-left: 29.68085%; }
  .row-form-24 > .offset6 {
    margin-left: 27.65957%;
    *margin-left: 27.55319%; }
  .row-form-24 > .offset6:first-child {
    margin-left: 25.53191%;
    *margin-left: 25.42553%; }
  .row-form-24 > .offset5 {
    margin-left: 23.40426%;
    *margin-left: 23.29787%; }
  .row-form-24 > .offset5:first-child {
    margin-left: 21.2766%;
    *margin-left: 21.17021%; }
  .row-form-24 > .offset4 {
    margin-left: 19.14894%;
    *margin-left: 19.04255%; }
  .row-form-24 > .offset4:first-child {
    margin-left: 17.02128%;
    *margin-left: 16.91489%; }
  .row-form-24 > .offset3 {
    margin-left: 14.89362%;
    *margin-left: 14.78723%; }
  .row-form-24 > .offset3:first-child {
    margin-left: 12.76596%;
    *margin-left: 12.65957%; }
  .row-form-24 > .offset2 {
    margin-left: 10.6383%;
    *margin-left: 10.53191%; }
  .row-form-24 > .offset2:first-child {
    margin-left: 8.51064%;
    *margin-left: 8.40426%; }
  .row-form-24 > .offset1 {
    margin-left: 6.38298%;
    *margin-left: 6.2766%; }
  .row-form-24 > .offset1:first-child {
    margin-left: 4.25532%;
    *margin-left: 4.14894%; }

.row-form-24 [class*="span"].hide {
  display: none; }

.row-form-24 [class*="span"].pull-right {
  float: right; }

.row-form-24 input[class*="span"],
.row-form-24 select[class*="span"],
.row-form-24 textarea[class*="span"],
.row-form-24 .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0; }

.row-form-24 input[class*="span"],
.row-form-24 select[class*="span"],
.row-form-24 textarea[class*="span"],
.row-form-24 .uneditable-input[class*="span"],
.row-form-24 .input-prepend [class*="span"],
.row-form-24 .input-append [class*="span"] {
  display: inline-block; }

.row-form-24 .controls-row [class*="span"] {
  float: left; }

.row-form-24 table td[class*="span"],
.row-form-24 table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0; }

.row-form-24 .thumbnails {
  margin-left: 0; }

@media (min-width: 1200px) {
  .row-form-24 {
    width: 100%;
    *zoom: 1; }
    .row-form-24:before, .row-form-24:after {
      display: table;
      content: "";
      line-height: 0; }
    .row-form-24:after {
      clear: both; }
    .row-form-24 > [class*="span"] {
      display: block;
      width: 100%;
      min-height: 24px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-left: 1.66667%;
      *margin-left: 1.625%; }
    .row-form-24 > [class*="span"]:first-child {
      margin-left: 0; }
    .row-form-24 .controls-row [class*="span"] + [class*="span"] {
      margin-left: 1.66667%; }
    .row-form-24 > .span24 {
      width: 100%;
      *width: 99.95833%; }
    .row-form-24 > .span23 {
      width: 95.76389%;
      *width: 95.72222%; }
    .row-form-24 > .span22 {
      width: 91.52778%;
      *width: 91.48611%; }
    .row-form-24 > .span21 {
      width: 87.29167%;
      *width: 87.25%; }
    .row-form-24 > .span20 {
      width: 83.05556%;
      *width: 83.01389%; }
    .row-form-24 > .span19 {
      width: 78.81944%;
      *width: 78.77778%; }
    .row-form-24 > .span18 {
      width: 74.58333%;
      *width: 74.54167%; }
    .row-form-24 > .span17 {
      width: 70.34722%;
      *width: 70.30556%; }
    .row-form-24 > .span16 {
      width: 66.11111%;
      *width: 66.06944%; }
    .row-form-24 > .span15 {
      width: 61.875%;
      *width: 61.83333%; }
    .row-form-24 > .span14 {
      width: 57.63889%;
      *width: 57.59722%; }
    .row-form-24 > .span13 {
      width: 53.40278%;
      *width: 53.36111%; }
    .row-form-24 > .span12 {
      width: 49.16667%;
      *width: 49.125%; }
    .row-form-24 > .span11 {
      width: 44.93056%;
      *width: 44.88889%; }
    .row-form-24 > .span10 {
      width: 40.69444%;
      *width: 40.65278%; }
    .row-form-24 > .span9 {
      width: 36.45833%;
      *width: 36.41667%; }
    .row-form-24 > .span8 {
      width: 32.22222%;
      *width: 32.18056%; }
    .row-form-24 > .span7 {
      width: 27.98611%;
      *width: 27.94444%; }
    .row-form-24 > .span6 {
      width: 23.75%;
      *width: 23.70833%; }
    .row-form-24 > .span5 {
      width: 19.51389%;
      *width: 19.47222%; }
    .row-form-24 > .span4 {
      width: 15.27778%;
      *width: 15.23611%; }
    .row-form-24 > .span3 {
      width: 11.04167%;
      *width: 11%; }
    .row-form-24 > .span2 {
      width: 6.80556%;
      *width: 6.76389%; }
    .row-form-24 > .span1 {
      width: 2.56944%;
      *width: 2.52778%; }
    .row-form-24 > .offset24 {
      margin-left: 103.33333%;
      *margin-left: 103.25%; }
    .row-form-24 > .offset24:first-child {
      margin-left: 101.66667%;
      *margin-left: 101.58333%; }
    .row-form-24 > .offset23 {
      margin-left: 99.09722%;
      *margin-left: 99.01389%; }
    .row-form-24 > .offset23:first-child {
      margin-left: 97.43056%;
      *margin-left: 97.34722%; }
    .row-form-24 > .offset22 {
      margin-left: 94.86111%;
      *margin-left: 94.77778%; }
    .row-form-24 > .offset22:first-child {
      margin-left: 93.19444%;
      *margin-left: 93.11111%; }
    .row-form-24 > .offset21 {
      margin-left: 90.625%;
      *margin-left: 90.54167%; }
    .row-form-24 > .offset21:first-child {
      margin-left: 88.95833%;
      *margin-left: 88.875%; }
    .row-form-24 > .offset20 {
      margin-left: 86.38889%;
      *margin-left: 86.30556%; }
    .row-form-24 > .offset20:first-child {
      margin-left: 84.72222%;
      *margin-left: 84.63889%; }
    .row-form-24 > .offset19 {
      margin-left: 82.15278%;
      *margin-left: 82.06944%; }
    .row-form-24 > .offset19:first-child {
      margin-left: 80.48611%;
      *margin-left: 80.40278%; }
    .row-form-24 > .offset18 {
      margin-left: 77.91667%;
      *margin-left: 77.83333%; }
    .row-form-24 > .offset18:first-child {
      margin-left: 76.25%;
      *margin-left: 76.16667%; }
    .row-form-24 > .offset17 {
      margin-left: 73.68056%;
      *margin-left: 73.59722%; }
    .row-form-24 > .offset17:first-child {
      margin-left: 72.01389%;
      *margin-left: 71.93056%; }
    .row-form-24 > .offset16 {
      margin-left: 69.44444%;
      *margin-left: 69.36111%; }
    .row-form-24 > .offset16:first-child {
      margin-left: 67.77778%;
      *margin-left: 67.69444%; }
    .row-form-24 > .offset15 {
      margin-left: 65.20833%;
      *margin-left: 65.125%; }
    .row-form-24 > .offset15:first-child {
      margin-left: 63.54167%;
      *margin-left: 63.45833%; }
    .row-form-24 > .offset14 {
      margin-left: 60.97222%;
      *margin-left: 60.88889%; }
    .row-form-24 > .offset14:first-child {
      margin-left: 59.30556%;
      *margin-left: 59.22222%; }
    .row-form-24 > .offset13 {
      margin-left: 56.73611%;
      *margin-left: 56.65278%; }
    .row-form-24 > .offset13:first-child {
      margin-left: 55.06944%;
      *margin-left: 54.98611%; }
    .row-form-24 > .offset12 {
      margin-left: 52.5%;
      *margin-left: 52.41667%; }
    .row-form-24 > .offset12:first-child {
      margin-left: 50.83333%;
      *margin-left: 50.75%; }
    .row-form-24 > .offset11 {
      margin-left: 48.26389%;
      *margin-left: 48.18056%; }
    .row-form-24 > .offset11:first-child {
      margin-left: 46.59722%;
      *margin-left: 46.51389%; }
    .row-form-24 > .offset10 {
      margin-left: 44.02778%;
      *margin-left: 43.94444%; }
    .row-form-24 > .offset10:first-child {
      margin-left: 42.36111%;
      *margin-left: 42.27778%; }
    .row-form-24 > .offset9 {
      margin-left: 39.79167%;
      *margin-left: 39.70833%; }
    .row-form-24 > .offset9:first-child {
      margin-left: 38.125%;
      *margin-left: 38.04167%; }
    .row-form-24 > .offset8 {
      margin-left: 35.55556%;
      *margin-left: 35.47222%; }
    .row-form-24 > .offset8:first-child {
      margin-left: 33.88889%;
      *margin-left: 33.80556%; }
    .row-form-24 > .offset7 {
      margin-left: 31.31944%;
      *margin-left: 31.23611%; }
    .row-form-24 > .offset7:first-child {
      margin-left: 29.65278%;
      *margin-left: 29.56944%; }
    .row-form-24 > .offset6 {
      margin-left: 27.08333%;
      *margin-left: 27.0%; }
    .row-form-24 > .offset6:first-child {
      margin-left: 25.41667%;
      *margin-left: 25.33333%; }
    .row-form-24 > .offset5 {
      margin-left: 22.84722%;
      *margin-left: 22.76389%; }
    .row-form-24 > .offset5:first-child {
      margin-left: 21.18056%;
      *margin-left: 21.09722%; }
    .row-form-24 > .offset4 {
      margin-left: 18.61111%;
      *margin-left: 18.52778%; }
    .row-form-24 > .offset4:first-child {
      margin-left: 16.94444%;
      *margin-left: 16.86111%; }
    .row-form-24 > .offset3 {
      margin-left: 14.375%;
      *margin-left: 14.29167%; }
    .row-form-24 > .offset3:first-child {
      margin-left: 12.70833%;
      *margin-left: 12.625%; }
    .row-form-24 > .offset2 {
      margin-left: 10.13889%;
      *margin-left: 10.05556%; }
    .row-form-24 > .offset2:first-child {
      margin-left: 8.47222%;
      *margin-left: 8.38889%; }
    .row-form-24 > .offset1 {
      margin-left: 5.90278%;
      *margin-left: 5.81944%; }
    .row-form-24 > .offset1:first-child {
      margin-left: 4.23611%;
      *margin-left: 4.15278%; } }
@media (min-width: 768px) and (max-width: 979px) {
  .row-form-24 {
    width: 100%;
    *zoom: 1; }
    .row-form-24:before, .row-form-24:after {
      display: table;
      content: "";
      line-height: 0; }
    .row-form-24:after {
      clear: both; }
    .row-form-24 > [class*="span"] {
      display: block;
      width: 100%;
      min-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-left: 2.60417%;
      *margin-left: 2.53906%; }
    .row-form-24 > [class*="span"]:first-child {
      margin-left: 0; }
    .row-form-24 .controls-row [class*="span"] + [class*="span"] {
      margin-left: 2.60417%; }
    .row-form-24 > .span24 {
      width: 100%;
      *width: 99.9349%; }
    .row-form-24 > .span23 {
      width: 95.72483%;
      *width: 95.65972%; }
    .row-form-24 > .span22 {
      width: 91.44965%;
      *width: 91.38455%; }
    .row-form-24 > .span21 {
      width: 87.17448%;
      *width: 87.10938%; }
    .row-form-24 > .span20 {
      width: 82.89931%;
      *width: 82.8342%; }
    .row-form-24 > .span19 {
      width: 78.62413%;
      *width: 78.55903%; }
    .row-form-24 > .span18 {
      width: 74.34896%;
      *width: 74.28385%; }
    .row-form-24 > .span17 {
      width: 70.07378%;
      *width: 70.00868%; }
    .row-form-24 > .span16 {
      width: 65.79861%;
      *width: 65.73351%; }
    .row-form-24 > .span15 {
      width: 61.52344%;
      *width: 61.45833%; }
    .row-form-24 > .span14 {
      width: 57.24826%;
      *width: 57.18316%; }
    .row-form-24 > .span13 {
      width: 52.97309%;
      *width: 52.90799%; }
    .row-form-24 > .span12 {
      width: 48.69792%;
      *width: 48.63281%; }
    .row-form-24 > .span11 {
      width: 44.42274%;
      *width: 44.35764%; }
    .row-form-24 > .span10 {
      width: 40.14757%;
      *width: 40.08247%; }
    .row-form-24 > .span9 {
      width: 35.8724%;
      *width: 35.80729%; }
    .row-form-24 > .span8 {
      width: 31.59722%;
      *width: 31.53212%; }
    .row-form-24 > .span7 {
      width: 27.32205%;
      *width: 27.25694%; }
    .row-form-24 > .span6 {
      width: 23.04688%;
      *width: 22.98177%; }
    .row-form-24 > .span5 {
      width: 18.7717%;
      *width: 18.7066%; }
    .row-form-24 > .span4 {
      width: 14.49653%;
      *width: 14.43142%; }
    .row-form-24 > .span3 {
      width: 10.22135%;
      *width: 10.15625%; }
    .row-form-24 > .span2 {
      width: 5.94618%;
      *width: 5.88108%; }
    .row-form-24 > .span1 {
      width: 1.67101%;
      *width: 1.6059%; }
    .row-form-24 > .offset24 {
      margin-left: 105.20833%;
      *margin-left: 105.07812%; }
    .row-form-24 > .offset24:first-child {
      margin-left: 102.60417%;
      *margin-left: 102.47396%; }
    .row-form-24 > .offset23 {
      margin-left: 100.93316%;
      *margin-left: 100.80295%; }
    .row-form-24 > .offset23:first-child {
      margin-left: 98.32899%;
      *margin-left: 98.19878%; }
    .row-form-24 > .offset22 {
      margin-left: 96.65799%;
      *margin-left: 96.52778%; }
    .row-form-24 > .offset22:first-child {
      margin-left: 94.05382%;
      *margin-left: 93.92361%; }
    .row-form-24 > .offset21 {
      margin-left: 92.38281%;
      *margin-left: 92.2526%; }
    .row-form-24 > .offset21:first-child {
      margin-left: 89.77865%;
      *margin-left: 89.64844%; }
    .row-form-24 > .offset20 {
      margin-left: 88.10764%;
      *margin-left: 87.97743%; }
    .row-form-24 > .offset20:first-child {
      margin-left: 85.50347%;
      *margin-left: 85.37326%; }
    .row-form-24 > .offset19 {
      margin-left: 83.83247%;
      *margin-left: 83.70226%; }
    .row-form-24 > .offset19:first-child {
      margin-left: 81.2283%;
      *margin-left: 81.09809%; }
    .row-form-24 > .offset18 {
      margin-left: 79.55729%;
      *margin-left: 79.42708%; }
    .row-form-24 > .offset18:first-child {
      margin-left: 76.95313%;
      *margin-left: 76.82292%; }
    .row-form-24 > .offset17 {
      margin-left: 75.28212%;
      *margin-left: 75.15191%; }
    .row-form-24 > .offset17:first-child {
      margin-left: 72.67795%;
      *margin-left: 72.54774%; }
    .row-form-24 > .offset16 {
      margin-left: 71.00694%;
      *margin-left: 70.87674%; }
    .row-form-24 > .offset16:first-child {
      margin-left: 68.40278%;
      *margin-left: 68.27257%; }
    .row-form-24 > .offset15 {
      margin-left: 66.73177%;
      *margin-left: 66.60156%; }
    .row-form-24 > .offset15:first-child {
      margin-left: 64.1276%;
      *margin-left: 63.9974%; }
    .row-form-24 > .offset14 {
      margin-left: 62.4566%;
      *margin-left: 62.32639%; }
    .row-form-24 > .offset14:first-child {
      margin-left: 59.85243%;
      *margin-left: 59.72222%; }
    .row-form-24 > .offset13 {
      margin-left: 58.18142%;
      *margin-left: 58.05122%; }
    .row-form-24 > .offset13:first-child {
      margin-left: 55.57726%;
      *margin-left: 55.44705%; }
    .row-form-24 > .offset12 {
      margin-left: 53.90625%;
      *margin-left: 53.77604%; }
    .row-form-24 > .offset12:first-child {
      margin-left: 51.30208%;
      *margin-left: 51.17188%; }
    .row-form-24 > .offset11 {
      margin-left: 49.63108%;
      *margin-left: 49.50087%; }
    .row-form-24 > .offset11:first-child {
      margin-left: 47.02691%;
      *margin-left: 46.8967%; }
    .row-form-24 > .offset10 {
      margin-left: 45.3559%;
      *margin-left: 45.22569%; }
    .row-form-24 > .offset10:first-child {
      margin-left: 42.75174%;
      *margin-left: 42.62153%; }
    .row-form-24 > .offset9 {
      margin-left: 41.08073%;
      *margin-left: 40.95052%; }
    .row-form-24 > .offset9:first-child {
      margin-left: 38.47656%;
      *margin-left: 38.34635%; }
    .row-form-24 > .offset8 {
      margin-left: 36.80556%;
      *margin-left: 36.67535%; }
    .row-form-24 > .offset8:first-child {
      margin-left: 34.20139%;
      *margin-left: 34.07118%; }
    .row-form-24 > .offset7 {
      margin-left: 32.53038%;
      *margin-left: 32.40017%; }
    .row-form-24 > .offset7:first-child {
      margin-left: 29.92622%;
      *margin-left: 29.79601%; }
    .row-form-24 > .offset6 {
      margin-left: 28.25521%;
      *margin-left: 28.125%; }
    .row-form-24 > .offset6:first-child {
      margin-left: 25.65104%;
      *margin-left: 25.52083%; }
    .row-form-24 > .offset5 {
      margin-left: 23.98003%;
      *margin-left: 23.84983%; }
    .row-form-24 > .offset5:first-child {
      margin-left: 21.37587%;
      *margin-left: 21.24566%; }
    .row-form-24 > .offset4 {
      margin-left: 19.70486%;
      *margin-left: 19.57465%; }
    .row-form-24 > .offset4:first-child {
      margin-left: 17.10069%;
      *margin-left: 16.97049%; }
    .row-form-24 > .offset3 {
      margin-left: 15.42969%;
      *margin-left: 15.29948%; }
    .row-form-24 > .offset3:first-child {
      margin-left: 12.82552%;
      *margin-left: 12.69531%; }
    .row-form-24 > .offset2 {
      margin-left: 11.15451%;
      *margin-left: 11.02431%; }
    .row-form-24 > .offset2:first-child {
      margin-left: 8.55035%;
      *margin-left: 8.42014%; }
    .row-form-24 > .offset1 {
      margin-left: 6.87934%;
      *margin-left: 6.74913%; }
    .row-form-24 > .offset1:first-child {
      margin-left: 4.27517%;
      *margin-left: 4.14497%; } }
@media (max-width: 767px) {
  .row-form-24 > [class^="span"], .row-form-24 > [class*=" span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .row-form-24 > .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .row-form-24 > [class^="offset"]:first-child, .row-form-24 > [class*=" offset"]:first-child {
    margin-left: 0; } }

.row-form-24{border-bottom: 1px solid #DDD; border-top: 1px solid white; padding: 2px 0px 2px 0px; vertical-align: baseline;}
            div[class^="span"] .row-form-24:first-child{border-top: 0px;}
            div[class^="span"] .row-form-24:last-child{border-bottom: 0px;}            
                .row-form-24 [class^="span"]{line-height: 24px;}
                    .row-form-24 input[type="text"],
                    .row-form-24 input[type="password"], 
                    .row-form-24 textarea{ width: 100%; font-size: 11px; color: #454545; padding: 0px 7px 0px; border: 1px solid #AAAAAA;
                        box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;                                                
                        display: inline-block; background: #FDFDFD; height: 26px; margin: 0px; line-height: 24px; 
                    }   
					select.select-micro,.row-form-24 input[type="text"].input-micro,.row-form-24 input[type="password"].input-micro{width: 30px;}
                    select.select-mini,.row-form-24 input[type="text"].input-mini,.row-form-24 input[type="password"].input-mini{width: 50px;}
                    select.select-small,.row-form-24 input[type="text"].input-small,.row-form-24 input[type="password"].input-small{width: 90px;}
                    select.select-medium,.row-form-24 input[type="text"].input-medium,.row-form-24 input[type="password"].input-medium{width: 150px;}
                    select.select-large,.row-form-24 input[type="text"].input-large,.row-form-24 input[type="password"].input-large{width: 210px;}
                    select.select-xlarge,.row-form-24 input[type="text"].input-xlarge,.row-form-24 input[type="password"].input-xlarge{width: 270px;}
                    select.select-xxlarge,.row-form-24 input[type="text"].input-xxlarge,.row-form-24 input[type="password"].input-xxlarge{width: 530px;}
                    
                    .row-form-24 textarea{min-height: 100px;}
                    
                    .row-form-24 select{margin: 0px; font-size: 11px; color: #666; /*padding: 7px 5px 6px 5px;*/ display: inline-block; line-height: 11px; border: 1px solid #AAAAAA; width: auto; max-width: 100%; width: 100%;
                                    background: #FFF;
                                    /*background: -moz-linear-gradient(center bottom , #EEE 0%, white 50%);                                    
                                    background: -webkit-gradient(linear, center bottom, center bottom, color-stop(0%,#EEE), color-stop(50%,#FFF));
                                    background: -webkit-linear-gradient(center bottom, #EEE 0%,#FFF 50%);
                                    background: -o-linear-gradient(center bottom, #EEE 0%,#FFF 50%);
                                    background: -ms-linear-gradient(center bottom, #EEE 0%,#FFF 50%);
                                    background: linear-gradient(center bottom, #EEE 0%,#FFF 50%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#FFFFFF',GradientType=0 );*/                                   
                    }
                        .row-form-24 select optgroup{border-left: 1px solid #AAA; border-right: 1px solid #AAA;}
                        .row-form-24 select option{padding: 3px;}
                            
                    .row-form-24 select[multiple]{min-height: 100px; padding: 0px 0px 0px 5px; background: none; background-color: #FFF;}
                    .row-form-24 .select2-container,.select2-results{font-size: 11px;}
                    .row-form-24 label.inline{font-size: 11px;}
                    .radio.inline, .checkbox.inline{padding-top: 0px;}
            
            .row-form-24 span{font-size: 11px; color: #666;}                    
            
            .row-form-24 input[type="checkbox"],
            .row-form-24 input[type="radio"]{margin-left: 0px;}

            .row-form-24 .divider {border-left: solid 1px #ccc;}
